:root {
    --block-bg-color: gray;
}
.mapMarker {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    border: solid 2px var(--block-bg-color);
    background-color: #ccc;
    transition-property: width, height;
    transition-duration: 0.3s;
    transition-behavior: ease;
}

.mapMarker:hover {
    width: 40px;
    height: 40px;
}

.mapCluster {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--block-bg-color);
    border: solid 2px var(--block-bg-color);
    color: #fff;
    text-shadow: 0 0 2px black;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
